{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus id="input" class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" id="submit-btn" type="submit">Search</button>
    </form>
        <br>
    <div id="answer">  <p> A share of {{ name }} ({{ symbol }}) costs {{ price }}. </p> </div>
{% endblock %}

